<a href="https://colab.research.google.com/github/hoseinm444/FanapExercises/blob/main/FFCVS_Dec24_Course_Ex01_Hosein_Mohammadi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics

##Exercise 01
What is the type of the following data?

1."Filoger"

2."19.0"

3.18

4.13.0

5.True

In [ ]:
data_one="Filoger"
print("data one type is {0}".format(type(data_one)))
data_two="19.0"
print("data two type is {0}".format(type(data_two)))
data_three=18
print("data three type is {0}".format(type(data_three)))
data_four=13.0
print("data four type is {0}".format(type(data_four)))
data_five=True
print("data five type is {0}".format(type(data_five)))

data one type is <class 'str'>
data two type is <class 'str'>
data three type is <class 'int'>
data four type is <class 'float'>
data five type is <class 'bool'>

##Exercise 02
Convert the following data to integer?

1."Filoger"

2."19.0"

3.18

4.13.0

5.True

In [ ]:
data_one="Filoger"
print("data one convertation :{0}".format("can't convert str to int" ))
data_two='19.0'
convert_data_two = float(data_two)
print("data two convertation is {0}".format( type(int(convert_data_two)) )  )
data_three=18
print("data three convertation is {0}".format( type(int(data_three)) ))
data_four=13.0
print("data four convertation is {0}".format(type(int(data_four))))
data_five=True
print("data five convertation is {0}".format(type(int(data_five))))

data one convertation :can't convert str to int
data two convertation is <class 'int'>
data three convertation is <class 'int'>
data four convertation is <class 'int'>
data five convertation is <class 'int'>

##Exercise 03 (Search!)
Print running time of program to find type of the following data ?

1."Filoger"

2."19.0"

3.18

4.13.0

5.True

In [ ]:
import time
start_time = time.time()
data_one="Filoger"
print("data one type is {0}".format(type(data_one)))
data_two="19.0"
print("data two type is {0}".format(type(data_two)))
data_three=18
print("data three type is {0}".format(type(data_three)))
data_four=13.0
print("data four type is {0}".format(type(data_four)))
data_five=True
print("data five type is {0}".format(type(data_five)))
end_time = time.time()
execution_time =   end_time - start_time
print(" running time of program:",execution_time)

data one type is <class 'str'>
data two type is <class 'str'>
data three type is <class 'int'>
data four type is <class 'float'>
data five type is <class 'bool'>
 running time of program: 0.006323814392089844

##Exercise 04
Get a number as circle diameter, and calculate the circle area!

Points:
*  Use input method to get circle diameter!
*  Use str.format() method to print the output!
*  Output must be same as following example, exactly!

In [ ]:
#print("Please Enter Circle Diameter:")
circle_diameter =int(input())
circle_radius= circle_diameter / 2
circle_area=(circle_radius**2) * 3.14
print("input :{0} , output(print) : circle area is {1}".format(circle_diameter,"%.3f" %circle_area))

18
input :18 , output(print) : circle area is 254.340

##Exercise 05
Get width, height and length ,then calculate and print the surface area and volume of a cuboid!

In [ ]:
#print("Please Enter width :")
width_cuboid=int(input())
#print("Please Enter height :")
height_cuboid=int(input())
#print("Please Enter length :")
length_cuboid=int(input())

volume_cuboid=float(width_cuboid * height_cuboid * length_cuboid)
surface_cuboid ="%.2f" %float(( ((width_cuboid*height_cuboid) + (width_cuboid*length_cuboid) +(length_cuboid*height_cuboid) )*2 ))
print("input1:{0} , input2:{1} , input3:{2} , output(print) : volume of cuboid is  {3} and Surface area of cuboid is {4} !"\
      .format(width_cuboid,height_cuboid,length_cuboid,"%.2f" %volume_cuboid,surface_cuboid))

18
4
5
input1:18 , input2:4 , input3:5 , output(print) : volume of cuboid is  360.00 and Surface area of cuboid is 364.00 !

##Exercise 06
input(2 number) and print sum, division, subtraction, multiplication

In [ ]:
#print("Please Enter number1 :")
number_one=int(input())
#print("Please Enter number2 :")
number_two=int(input())

sum=number_one + number_two
division=int(number_one / number_two)
subtraction=number_one - number_two
multiplication=number_one * number_two

print("input_1 :{0} , input_2 :{1} , output: sum = {2} , division={3} , subtraction={4} , multiplication={5} "\
      .format(number_one,number_two,sum,division,subtraction,multiplication))

8
4
input_1 :8 , input_2 :4 , output: sum = 12 , division=2 , subtraction=4 , multiplication=32

##Exercise 07
Get two string, concatenate them and print the result!

In [ ]:
#print("Please Enter string1 :")
string_1=input()
#print("Please Enter string2 :")
string_2=input()

concat_string = "string_1" +" "+ "string_2"

print('input_1 :{0} , input_2 :{1} , output: result is "{2}" '\
      .format(string_1,string_2,concat_string))

string_1
string_2
input_1 :string_1 , input_2 :string_2 , output: result is "string_1 string_2"

##Exercise 08
Write a Python program to convert Fahrenheit to Celcius.

In [ ]:
#print("Please Enter Fahrenheit :")
fahrenheit_value= int(input())
#F to C (°F − 32) / 1.8
fahrenheit_to_celcius = float((fahrenheit_value - 32) / 1.8)
print('input :{0} , output: {0} degree Fahrenheit is equal to {1} degree Celsius. '\
      .format(fahrenheit_value,fahrenheit_to_celcius))

86
input :86 , output: 86 degree Fahrenheit is equal to 30.0 degree Celsius.

##Exercise 09 (Search)

Find the max element of the [ 8, 120, 83, 89, 24, 97.5, 201 ]

In [ ]:
list =[ 8, 120, 83, 89, 24, 97.5, 201]

max_value=list[0]
for element in range(len(list)) :
   if(list[element] >= max_value ):
       max_value = list[element]
       print(max_value)
   #else:
       #list[element+1]
     #  max_value = list[element-1]
print('output:{0}'.format(max_value))

8
120
201
output:201

##Exercise 10

Write a program in Python to display the Factorial of a number.

In [ ]:
#print("Please Enter number :")
number= int(input())
factorial_result =0
if number <=1  :
  factorial_result =1
else:
  factorial_result=1
  for i in range(1, number+1):
    factorial_result = factorial_result * i

print('input :{0} , output: Factorial of {0} is {1}. '.format(number,factorial_result))

9
input :9 , output: Factorial of 9 is 362880.

##Exercise 11

Generate random integer number and Write a program to guess the number.

In [ ]:
import random

print("Please Enter your guessed number :")
guessed_num=int(input())
generated_num = random.randint(1,100)
output_message= ''
print('generated number is : {0}'.format(generated_num))

if guessed_num > generated_num :
  output_message = 'Wrong, Guess the lower number!'
elif guessed_num < generated_num:
  output_message = 'Wrong, Guess the higher number!'
else:
   output_message = 'Correct, good job'


print('Generated Number: {0} , Guessed Number: {1}, output: {2} '\
      .format(generated_num,guessed_num,output_message))

Please Enter your guessed number :
81
generated number is : 99
Generated Number: 99 , Guessed Number: 81, output: Wrong, Guess the higher number!

##Exercise 12
Print the following pattern using loops.

0 x 0 = 0

1 x 1 = 1

2 x 2 = 4

3 x 3 = 9

4 x 4 = 16

5 x 5 = 25

6 x 6 = 36

7 x 7 = 49

8 x 8 = 64

9 x 9 = 81

10 x 10 = 100

In [ ]:
for i in range(0,11):
    print('{0} x {1} = {2}'.format(i,i,i*i))

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

##Exercise 13

Use for loop to iterate from 0 to n (input number) and print the sum of all numbers.

In [ ]:
print("Please Enter your number :")
input_num=int(input())
sum_value=0

for i in range(0,input_num+1):
   sum_value +=i


print('Input Number: {0}, output: The sum of all numbers is {1}. '\
      .format(input_num,sum_value))

Please Enter your number :
100
Input Number: 100, output: The sum of all numbers is 5050.

##Exercise 14 (Search)

This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop

In [ ]:
fruit_list = ['banana', 'orange', 'mango', 'lemon']

second_order=['banana', 'orange', 'mango', 'lemon']
#backward loop
j=0
for i in reversed(range(len(fruit_list))):
    second_order[j]=fruit_list[i]
    j +=1
j=0

for j in range(len(second_order)):
       print( second_order[j])

#also we can do this
print('\n other solutions :')
for i in reversed(range(len(fruit_list))):
  print(fruit_list[i])

lemon
mango
orange
banana

 other solutions :
lemon
mango
orange
banana