<a href="https://colab.research.google.com/github/hoseinm444/FanapExercises/blob/main/FFCVS_Dec23_Python_Ex02_Hosein_Mohammadi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics

##Exercise 01


The following is a list of 10 students ages:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

1.Sort the list and find the min and max age. (50)

2.Add the min age and the max age again to the list.(50)

3.Find the median age (one middle item or two middle items divided by two).(100)

4.Find the average age (sum of all items divided by their number ).(100)

5.Find the range of the ages (max minus min).(50)

6.Compare the value of (min - average) and (max - average), use abs() method.(100)

In [ ]:
from sre_constants import MAX_REPEAT
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#sort , min , max
max_value=ages[0]
min_value=ages[0]
for i in range(len(ages)) :
   if(ages[i] >= max_value ):
          max_value = ages[i]
   if(ages[i] <= min_value):
       min_value = ages[i]
print('max is :{0} min is :{1}'.format(max_value,min_value))

print('sorting :')
for i in range(len(ages)):
  for j in range(len(ages)):
     if(ages[i] < ages[j]):
       temp_value_one = ages[j]
       temp_value_two = ages[i]
       ages[j]=temp_value_two
       ages[i]=temp_value_one

for i in range(len(ages)):
    print(ages[i])
##############################################################
ages.append(min_value)
ages.append(max_value)
##############################################################
# Median age
median_len=int(len(ages)/2)
if median_len % 2 == 0 :
   median_value = (ages[median_len] + ages[median_len+1]) / 2
   print(f'median is : {median_value}')
else:
  median_value = ages[median_len]
  print(f'median is : {median_value}')
##############################################################
# Average age
sum =0
for i in range(len(ages)):
   sum += ages[i]
average_value = sum / int(len(ages))
print(f'Average is : {average_value}')
##############################################################
#  range of the ages
range_age_value = max_value - min_value
print(f'range of the ages : {range_age_value}')
##############################################################
# Compare the value of (min - average) and (max - average)
min_compare = abs(min_value-average_value)
print(f'abs (min - average) : {min_compare}')
max_compare = abs(max_value-average_value)
print(f'abs (max - average) : {max_compare}')

max is :26 min is :19
sorting :
19
19
20
22
24
24
24
25
25
26
median is : 24.5
Average is : 22.75
range of the ages : 7
abs (min - average) : 3.75
abs (max - average) : 3.25

##Exercise 02

1.Create an empty tuple (50)

2.Create a tuple containing names of your sisters and your brothers, separately (imaginary siblings are fine) (100)

3.Join brothers and sisters tuples and assign it to siblings (100)

4.How many siblings do you have? (50)

5.Modify the siblings tuple and add the name of your father and mother and assign it to family_members (100)

In [ ]:
###############################################################
tpl=()
###############################################################
brothers_tpl=('Hassan','Mohammad')
sisters_tpl = ('Zeynab','Zahra')
###############################################################
sibilings_tpl=brothers_tpl + sisters_tpl
###############################################################
print(f'How many siblings do you have ? {len(sibilings_tpl)}')
###############################################################
sibilings_tpl = brothers_tpl + sisters_tpl + ('Ali' , 'Maryam')
family_members =sibilings_tpl

How many siblings do you have ? 4

##Exercise 03

1.Create a student dictionary and add first_name, last_name, gender, age, skills, country, city and address as keys
for the dictionary (100)

2.Get the length of the student dictionary (50)

3.Get the value of skills and check the data type, it should be a list (50)

4.Modify the skills values by adding one or two skills (100)

5.Get the dictionary keys as a list (100)

6.Get the dictionary values as a list (100)

7.Change the dictionary to a list of tuples using items() method (50)

8.Delete one of the items in the dictionary(50)

9.Delete one of the dictionaries(50)

In [ ]:
########################################################################################
student = {'first_name':'Ali', 'last_name':'Abbasi', 'gender':'men', 'age':'25', 'skills':['C#','EFcore','ASP.net core mvc'],\
               'country':'Iran', 'city':'Arak' ,'address':'Hafez ave'}
print(f'1.dictionary is:{student}')
########################################################################################
print(f'2.dictionary length ? {len(student)}')
########################################################################################
student_skill = student.get('skills')
print("3.Student Skill  is :{0}".format(student_skill))
print("3.Student Skill type is : {0}".format(type(student.get('skills'))))
########################################################################################
student_skill.append('sql')
student_skill.append('ASP.net Web API')
print("4.Student Skill  is :{0}".format(student_skill))
########################################################################################
student_key_list=[]
for key in student:
     student_key_list .append(key)
print("5.Student dictionary Skill key  is :{0}".format(student_key_list))
########################################################################################
student_value_list=[]
for value in student.values():
     student_value_list .append(value)
print("6.Student dictionary Skill value  is :{0}".format(student_value_list))
########################################################################################
lst_tpl = list(student.items())
print(f'7.Student dictionary as a list of tuples : {lst_tpl}')
########################################################################################
del student['skills']
print(f'8.Student dictionary : {student}')
########################################################################################
student.clear()
print(f'9.Student dictionary : {student}')

1.dictionary is:{'first_name': 'Ali', 'last_name': 'Abbasi', 'gender': 'men', 'age': '25', 'skills': ['C#', 'EFcore', 'ASP.net core mvc'], 'country': 'Iran', 'city': 'Arak', 'address': 'Hafez ave'}
2.dictionary length ? 8
3.Student Skill  is :['C#', 'EFcore', 'ASP.net core mvc']
3.Student Skill type is : <class 'list'>
4.Student Skill  is :['C#', 'EFcore', 'ASP.net core mvc', 'sql', 'ASP.net Web API']
5.Student dictionary Skill key  is :['first_name', 'last_name', 'gender', 'age', 'skills', 'country', 'city', 'address']
6.Student dictionary Skill value  is :['Ali', 'Abbasi', 'men', '25', ['C#', 'EFcore', 'ASP.net core mvc', 'sql', 'ASP.net Web API'], 'Iran', 'Arak', 'Hafez ave']
7.Student dictionary as a list of tuples : [('first_name', 'Ali'), ('last_name', 'Abbasi'), ('gender', 'men'), ('age', '25'), ('skills', ['C#', 'EFcore', 'ASP.net core mvc', 'sql', 'ASP.net Web API']), ('country', 'Iran'), ('city', 'Arak'), ('address', 'Hafez ave')]
8.Student dictionary : {'first_name': 'Ali', 'last_name': 'Abbasi', 'gender': 'men', 'age': '25', 'country': 'Iran', 'city': 'Arak', 'address': 'Hafez ave'}
9.Student dictionary : {}

##Exercise 04

1.Find the length of the set it_companies (50)

2.Add 'Twitter' to it_companies (50)

3.Insert multiple IT companies at once to the set it_companies (100)

4.Remove one of the companies from the set it_companies(50)

5.What is the difference between remove and discard (100)

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

In [ ]:
########################################################################################
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(f'1.set length ? {len(it_companies)}')
########################################################################################
it_companies.add('Twitter')
print(f'2.add to  set : {it_companies}')
########################################################################################
it_tech = ['SpaceX','Cisco']
it_companies.update(it_tech)
print(f'3.add multiple item to set : {it_companies}')
########################################################################################
it_companies.remove('IBM')
print(f'4.remove one of te item of set : {it_companies}')
########################################################################################
print('5.discard delete with error handling , for example if we don\'t have "FFF" element in tuple and we use\
      \n discard to delete this elemenet we don\'t have error . if we use remove we have error in such case .')
it_companies.discard('FFF')
#it_companies.remove('FFF')

1.set length ? 7
2.add to  set : {'Oracle', 'Microsoft', 'Apple', 'Twitter', 'IBM', 'Amazon', 'Google', 'Facebook'}
3.add multiple item to set : {'Microsoft', 'Twitter', 'IBM', 'Facebook', 'SpaceX', 'Amazon', 'Cisco', 'Google', 'Oracle', 'Apple'}
4.remove one of te item of set : {'Microsoft', 'Twitter', 'Facebook', 'SpaceX', 'Amazon', 'Cisco', 'Google', 'Oracle', 'Apple'}
5.discard delete with error handling , for example if we don't have "FFF" element in tuple and we use
 discard to delete this elemenet we don't have error . if we use remove we have error in such case .

##Exercise 05 (Search!)


(I am a teacher and I love to inspire and teach people.) How many unique words have been used in the sentence?

Use the split methods and set to get the unique words.

In [ ]:
text = "I am a teacher and I love to inspire and teach people."
text_to_lst = text.split()
print(f' list count is  :{len(text_to_lst)}')
lst_to_set=set(text_to_lst)
print(f' set count is  :{len(lst_to_set)}')
for i in lst_to_set:
  print(f'Uniqe element of set is :{i}')

 list count is  :12
 set count is  :10
Uniqe element of set is :people.
Uniqe element of set is :am
Uniqe element of set is :inspire
Uniqe element of set is :I
Uniqe element of set is :to
Uniqe element of set is :teach
Uniqe element of set is :a
Uniqe element of set is :love
Uniqe element of set is :and
Uniqe element of set is :teacher

##Exercise 06


Write a function to Count the number of characters (characters frequency) in a string and print
the result as a dictionary!

In [ ]:
def char_number_count(input_string):
  char_dictionary = {}
  for keys in input_string:
   char_dictionary[keys] = char_dictionary.get(keys, 0) + 1
  print(f'input: "{input_string}" , output: {str(char_dictionary)}')

#call the function
char_number_count('Filoger')
char_number_count('Filloger')

input: "Filoger" , output: {'F': 1, 'i': 1, 'l': 1, 'o': 1, 'g': 1, 'e': 1, 'r': 1}
input: "Filloger" , output: {'F': 1, 'i': 1, 'l': 2, 'o': 1, 'g': 1, 'e': 1, 'r': 1}

##Exercise 07


Write a Python function to print the odd numbers from a given list.

In [ ]:
def odd_number(input_lst):
  odd_lst=[]
  for i in range(len(input_lst)):
    if input_lst[i] % 2 == 1 :
      odd_lst.append(input_lst[i])
  print(f'List :{input_lst} , Expected Result:{odd_lst}')

odd_number([1, 2, 3, 4, 5, 6, 7, 8, 9])

List :[1, 2, 3, 4, 5, 6, 7, 8, 9] , Expected Result:[1, 3, 5, 7, 9]

##Exercise 08


Write a Python function to sort a given list of dictionaries (employees) using Lambda. (Sort by age, then for same ages, sort by name)

employees = [{"name": "Sanaz", "age": 14}, {"name": "AmirHossein", "age": 18}, {"name": "Azam", "age":14}, {"name": "Zahra", "age": 16}, {"name": "Shayan", "age": 18}, {"name": "Zahra", "age": 17}]

In [75]:
employees = [{"name": "Sanaz", "age": 14}, {"name": "AmirHossein", "age": 18}, {"name": "Azam", "age":14},\
             {"name": "Zahra", "age": 16}, {"name": "Shayan", "age": 18}, {"name": "Zahra", "age": 17}]
def sort_emp(emp_lst):
  #sort = lambda emp_lst , i=emp_lst.get['age'] , j=emp_lst.get['age'] :{'age': lambda emp_lst, 'age'=age: emp_lst[emp_lst] for key in a}
  sorted_emp = sorted(emp_lst, key=lambda i: (i['age'],i['name']))
  print(f'output : {sorted_emp}')

sort_emp(employees)

output : [{'name': 'Azam', 'age': 14}, {'name': 'Sanaz', 'age': 14}, {'name': 'Zahra', 'age': 16}, {'name': 'Zahra', 'age': 17}, {'name': 'AmirHossein', 'age': 18}, {'name': 'Shayan', 'age': 18}]

##Exercise 09


Write a Python function to calculate first n numbers of Fibonacci sequence. (n is function input)

In [123]:
def fibonacci(n):
  if n < 1:
       return n
  else:
      return(fibonacci(n-1) + fibonacci(n-2))

[fibonacci(n) for n in range(7)]

[0, -1, -1, -2, -3, -5, -8]

##Exercise 10

print the type of error and handle that.
(Use specific and General Exception)

In [6]:
dict = {'Python': 2, 'DIP': 7, 'DL': 8}
try:
     print (dict['CV'])
except KeyError as error:
      x=error
      print(f'ErrorType is {KeyError} and for :{x}')
except ValueError as verror:
        x = verror
        print(f'ErrorType is {ValueError} and for :{x}')
except Exception as ex: #general exception handling
        x = ex
        print(f'ErrorType is {Exception} and for :{x}')

ErrorType is <class 'KeyError'> and for :'CV'

##Exercise 11


print the type of error and handle that.
(Use specific and General Exception)

In [1]:
code = '45145GT'

try:
     int(code)
except KeyError as error:
      x=error
      print(f'ErrorType is {KeyError} and for :{x}')
except ValueError as verror:
        x = verror
        print(f'ErrorType is {ValueError} and for :{x}')
except Exception as ex:  #general exception handling
        x = ex
        print(f'ErrorType is {Exception} and for :{x}')

ErrorType is <class 'ValueError'> and for :invalid literal for int() with base 10: '45145GT'

##Exercise 12


Create a txt file (name: Ex_01_Files.txt) and save the following list in the file! (save each element
in the new line!)

Points:
Before reading file, check the file existence!

Close the file, finally!

[1, 7, 'test', 'apple', 'banana', 'cherry', 785, 19, 'Python', 78.0, True, 7854.15]

In [22]:
import os
lst = [1, 7, 'test', 'apple', 'banana', 'cherry', 785, 19, 'Python', 78.0, True, 7854.15]
#create file
f = open('Ex_01_Files.txt','x')
with open('Ex_01_Files.txt', 'a') as f:
    for item in lst:
        f.write(f'{item}\n')
###############################
##existence checking
if os.path.exists('Ex_01_Files.txt'):
    res =  1
    print(f'file is exist .')
else :
    res = 0
    print(f'file is not  exist .')
##################################
f = open('Ex_01_Files.txt', 'r')
print(f.read())
################
f.close()

file is exist .
1
7
test
apple
banana
cherry
785
19
Python
78.0
True
7854.15

##Exercise 13


Read the Ex_01_Files.txt and save and print the numbers and strings in to separated list!

Points:

Before reading file, check the file existence!

Close the file, finally!

Handle FileNotFoundError error!

In [44]:
##existence checking
try:
  if os.path.exists('Ex_01_Files.txt'):
    res =  1
    print(f'file is exist .')
  else :
    res = 0
    print(f'file is not  exist .')
except FileNotFoundError as Fnerror:
  x=error
  print(x)
##############################################
# read the content in 2 list
string_lst = []
number_lst = []
with open('Ex_01_Files.txt', 'r') as fp:
    for line in fp:
        x = line[:-1]
        try:
           if   float(x) :
             number_lst.append(x)
        except:
              string_lst.append(x)
print(f'string list is {string_lst}')
print(f'number list is {number_lst}')

file is exist .
string list is ['test', 'apple', 'banana', 'cherry', 'Python', 'True']
number list is ['1', '7', '785', '19', '78.0', '7854.15']